body{
    background:url("https://vignette.wikia.nocookie.net/steamtradingcards/images/d/d2/GMod_Background_4.jpg/revision/latest?cb=20130902030650");
    color:white;
}
.heading{
    /* font-size: 50px; */
    font-family: 'Alfa Slab One', cursive;
    color:red;
    margin-bottom: 5%;
    margin-top: 5%;
}
.main{
    width:90%;
    margin:5% 5% 10% 5%;
    border:5px dotted white;
    text-align: center;
    background: black;
}
hr{
    border:5px dotted white;
}
*{
    box-sizing: border-box;
}

